@use '../../../mixins.scss' as *;

.goal-card {
    padding: 15px;
    background-color: var(--bg-infoCard-color);
    border-radius: 10px;
    color: $text-color;
}

.goal-name {
    font-size: 1rem;
}

.goal-card_balance {
    font-size: 1.5rem;
}

.goal-card_goalSum {
    font-size: 1rem;
}