@use '../../../mixins.scss' as *;

.expenses-card-wrap {
    padding: 15px;
    background-color: $bg-infoCard-color;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenses-card-wrap:hover {
    border: 1px solid $text-blue-color;
    margin: -1px; //чтобы картинки не "дергались" при наведении
}

.expenses-name {
    text-align: center;
}

.expenses-card-wrap.active {
    background-color: rgb(136 136 142 / 30%);
    border: 1px solid $text-blue-color;
}