@use './mixins.scss' as *;
@use './shared/ui/Title/Title.scss' as *;
@use './theme.scss';
@use './shared/ui/InfoMoneyCard/InfoMoneyCard.scss';
@use './components/MoneyReport/MoneyReport.scss';
@use './shared/ui/ConverterCard/ConverterCard.scss';
@use './shared/ui/BankAccountCard/BankAccountCard.scss';
@use './components/AccountsInfo/AccountsInfo.scss';
@use './shared/ui/TextButton/TextButton.scss';
@use './components/Modal/addSourceMoney.scss';
@use './components/Header/Header.scss';
@use './shared/ui/UserMenu/UserMenu.scss';
@use './shared/ui/GoalCard/GoalCard.scss';
@use './components/SideBar/SideBar.scss';
@use './components/GoalCardPage/GoalCardPage.scss';
@use './pages/AddExpenses/AddExpensesPage.scss';
@use './shared/ui/ExpensesCard/ExpensesCard.scss';
@use './components/ExpensesInfo/ExpensesInfo.scss';
@use './shared/ui/AddExpensesSelect/AddExpensesSelect.scss';
@use './shared/ui/ExpensesInfoCard/ExpensesInfoCard.scss';
@use './shared/ui/SwitchTheme/SwitchTheme.scss';


body {
    background-color: var(--bg-body);
}

.main-page {
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 500px) {
    html {
        font-size: 10px;
    }

    .expenses-info-card {
        display: flex;
        flex-direction: column;
    }
}