@use './App.scss' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#root {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}

html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}