$bg-body: rgb(237, 235, 235);
$bg-body-dark-theme: rgba(117, 115, 115, 0.315);
$bg-infoCard-color: #f6f4f4;
$text-color: rgb(36, 36, 36);
$text-color-light: rgba(36, 36, 36, 0.829);
$color-blue-light: #afd5fd;
$text-blue-color: rgb(62, 70, 217);