[data-theme="dark"] {
    --bg-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
    --text-secondary-color: rgb(224, 224, 224);
    --primary-color: #646cff;
    --primary-hover: #535bf2;
}