@use '../../mixins.scss' as *;

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-ptdwpq-MuiPaper-root-MuiAppBar-root {
    background-color: $text-color !important;
    margin-bottom: 10px;
}

.MuiBox-root.css-0 {
    position: sticky;
    top: 0;
}