@use '../../../mixins.scss' as *;

.info-money-card {
    padding: 20px;
    background-color: var(--bg-infoCard-color);
    width: 40%;
    border-radius: 10px;
    color: $text-color;
}

.info-money-card_title {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.info-money-card_desc {
    color: var(--bg-color);
    font-size: 1rem;
}