@use '../../mixins.scss' as *;

.expenses-cards-wrap {
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 16px;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.expenses-page-wrap {
    margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto 30px;
}

.expenses-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

.header-info {
    margin-bottom: 25px;
}

::placeholder {
    color: var(--text-color-dark);
}

.expenses-card-wrap:hover {
    border: 1px solid blue;
}